a {
    text-decoration: none;
}

html {
    min-height: 100vh;
    height: 100vh
}

body, .ui-content {
    background: #e3e9ee;
}

.ui-content{
    overflow: auto;
    height: 100%;
}

body {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    font-size: $font-size;
    margin: 0;
    font-family: Roboto, 'Open Sans', sans-serif;
}

.padding {
    &--none {
        padding: 0;
    }
    &--left {
        padding-left: 15px;
    }
    &--right {
        padding-right: 15px;
    }
    &--top {
        padding-top: 15px;
    }
    &--bottom {
        padding-bottom: 15px;
    }

}

.fixed {
    position: fixed;

    &--right-top {
        right: 0;
        top: 0;
    }
}

.rotate-90 {
    margin: 0;
    transform: rotate(-90deg) translateX(-50%) translateY(50%);
}

.ui-pointer {
    cursor: pointer;
}

.first-letter--upper {
    display: inline-block;
    &:first-letter {
        text-transform: uppercase;
    }
}

.height-100 {
    height: 100%;
}

.rotate-45 {
    transform: rotate(-55deg);
    display: inline-block;
}

.width-100 {
    width: 100%;
}

@media(max-width: 991px) {

}

