$input-class: 'ui-input';

#{$input-class} {
    margin: 0;
}

.mat-select {
    &-placeholder,
    &-arrow {
        @include placeholder-style;
    }
    &-value-text {
        font-size: $font-size;
    }
}

.mat-option {
    max-width: none !important;
}

.mat-checkbox:not(.mat-checkbox-checked) {
    opacity: 0.2;
}
.mat-hint{
    .error{
        color: $color-error;
    }
}
.mat-input-wrapper {
    width: 100%;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

input {
    background: none;
    border: none;
    font-size: $font-size;
    padding: 10px;
    color: white;

    @include placeholder {
        @include placeholder-style;
    }
    &:focus {
        outline: none;
    }
}
