body, .ui-content {
    background: #e3e9ee;
}
.ui-content{
    overflow: auto;
    height: 100%;
}
$menu-class: '.main-menu';

.mat-sidenav#{$menu-class} {
    background-color: $color-1;
    width: $menu-width;
    height: 100%;
    padding-top: 10px;

    md-icon, i, div {
        color: $color-white;
    }

    li{
        margin-bottom: 10px;
    }

    &-item {
        text-align: center;
        &-icon {
            font-size: 30px;
        }
        &-label {
            font-size: 12px;
        }
    }
}