<app-header [appTitle]="'title.plans'|translate"></app-header>

<div id="plans">
    <div fxLayoutWrap fxLayoutGap="10px" class="container">
        <md-card fxFlex="calc(50% - 10px)" *ngFor="let plan of userPlans" class="exercise-type-wrapper">
            <md-card-content>
                <h2 layout="row">{{plan.name}}</h2>
                <md-card *ngFor="let workout of plan.workoutList">
                    <md-card-content>
                        <h3 layout="row">{{workout.name}}</h3>

                        <table md-table="md-table" md-row-select="md-row-select" multiple="multiple">
                            <thead md-head="md-head">
                            <tr md-row="md-row">
                                <th md-column="md-column"></th>
                            </tr>
                            </thead>
                            <tbody md-body="md-body">
                            <tr *ngFor="let exercise of workout.exerciseList"
                                md-row="md-row"
                                class="exercise md-table-content-row">
                                <td md-cell="md-cell">{{exercise.name}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </md-card-content>
                </md-card>
            </md-card-content>
        </md-card>
    </div>
</div>