<div flex="100" class="ui-list ui-list--plain">
    <li>
        <a routerLink="grid" title="grid_header" class="main-menu-item"><i
                class="material-icons main-menu-item-icon">assignment</i>
            <div class="main-menu-item-label">{{'menu.grid'|translate}}</div>
        </a>
    </li>

    <li>
        <a routerLink="plans" title="grid_header" class="main-menu-item"><i
                class="material-icons main-menu-item-icon">fitness_center</i>
            <div class="main-menu-item-label">{{'menu.plans'|translate}}</div>
        </a>
    </li>
</div>